<nav>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="/" class="header item"><i class="icon pencil alternate" id="pencil"></i>Blogr</a>
			<a href="/blogs/new" class="item">New Post</a>
		</div>		
	</div>
</nav>