body{
	background: rgb(205,241,241);
	background: linear-gradient(90deg, rgba(205,241,241,1) 32%, rgba(254,207,208,1) 96%); 
}

.main.container,.centered.segment{
	background-color: rgba(255, 255, 255, 0.3);
}

#pencil{
	font-size: 2em;
}

.container.main{
	margin-top: 5em;
}

img.index{
	max-width: 70%;
	margin: auto;
}

img.show{
	max-width: 100%;/*bhramastra*/
}

.inline{
	float: left;
}

.clearBoth{
	 clear:both; 
}
